#panel1 {
    width: 99.8%;
    height: 10%;
    margin: 0%;
    border: 0%;
    background-color: #f0f2f3b2;
    /*Definición de los bordes del panel*/
    border: 2px;
    border-radius: 10px;
    /*Centrado*/
}

.logoinfocal {
    width: 18%;
    height: auto;
}

.a {
    text-align: center;
}


/*Para alinear los iconos a la derecha*/

.icono1 {
    padding: 5px;
    margin: 5px;
    float: right;
    width: auto;
    display: flex;
    justify-content: center;
}

.icono3 {
    padding: 5px;
    margin: 5px;
    float: right;
    width: auto;
    display: flex;
    justify-content: center;
}

.icono3 {
    padding: 5px;
    margin: 5px;
    float: right;
    width: auto;
    display: flex;
    justify-content: center;
}


/*------------------------------------*/

head {
    /*background-color: white;*/
    font-family: "Proxima Nova", sans-serif;
}

body {
    font: 400 16px/1.5 "Proxima Nova", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Proxima Nova", sans-serif;
}

#container {
    text-align: center;
}

.logosoltec1 {
    width: 20%;
    height: 20%;
    text-align: center;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

#panel2 {
    width: 99.8%;
    height: 10%;
    margin: 0%;
    border: 0%;
    background-color: #f0f2f3b2;
    /*Definición de los bordes del panel*/
    border: 2px;
    border-radius: 10px;
    /*Centrado*/
}

.logoiso {
    width: 5px;
    height: auto;
}

.derechos {
    text-align: center;
    align-items: center;
}